<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.onlinecooliesystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Registration"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ForgotPassword"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Catalog"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Booking_for_coolie"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Booking_for_trolley"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Estimated_Fare"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".coolie_booking_confirmed"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".Estimated_Fare_Trolley"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".trolley_booking_confirmed"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>